.banner{
    background-image: url(../../public/images/banner.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.banner>h1{
    padding-top: 15%;
}

.banner>p{
    text-transform: uppercase;
}