body{
    background-color: rgb(235, 228, 228);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* header */
.banner{
    background-image: url(../../public/images/banner.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.banner span{
    text-decoration: underline dotted;
}
.banner>h1{
    font-family: 'Pacifico', cursive;
    padding-top: 15%;
    opacity: 1;
    font-size: 70px;
    margin-bottom: 0;
    /* padding-bottom: 2%;
    border-bottom: 1px solid white; */
}

.banner hr{
    width: 30%;
}
.banner>p{
    text-transform: uppercase;
    opacity: 0.8;
    padding-bottom: 10%;
    font-size: 15px;
    letter-spacing: 2px;
}


section{
    margin:0 20%
}

/* about */
.about{
    background-color: white;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: gray;
}

.about span{
    margin-top: 10%;
    border: 1px black solid;
    border-radius: 50%;
    height: 50px ; width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about>p{
    text-align: center;
    padding: 0 10%;
}
.boutton{
    margin-top: 5%;
    margin-bottom: 10%;
    list-style-type: none;
    padding-left: 0;

}
.boutton_principal{
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 5px;
}

/* bloc2 */
.Bloc_principale{
    display: flex;
    flex-wrap: wrap;
    color: gray;
    justify-content: space-between;
}
.bloc{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: white;
    width: 47%;
    position: relative;
    margin-top: 15px;
    margin-bottom: 10px;
}
.bloc>.image> h3{
      /* ici */
   position: absolute;
   top: 15%;
   left: 10%;
   right: 10%;
   color: white;
}
.bloc p, .bloc .boutton{
  justify-content: center;
  align-items: center;
  text-align: center;
}
.bloc>.image{
 text-align: center;
 overflow: hidden;
}


.image>a>img{
    /* height: 250px; width: 250px; */
    width: 100%;
    transition: 0.5s;

}


.image>a>img:hover{
    transform: scale(1.5);

}
.Bloc_principale p{
    /* height: 250px; width: 250px; */

    /* text-align: center; */
    width: 50%;
}
.Bloc_principale>.bloc>.boutton>li>a{
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 10px 30px;
    text-decoration: none;
    align-self: center;
    border-radius: 5px;
}




/* last section */
.last_section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: white; */
    text-align: center;
    color: gray;
}
.last_section>hr{
    margin-top: 0;
    margin-bottom: 10%;
    width: 10%;
    background-color: black;
    height: 1px;
}
.last_section h2{
    font-size: 25px;
    color: black;
    text-transform: uppercase;
    opacity: 0.8;
}
.last_section .boutton_principal{
    background-color: rgb(235, 228, 228);
}

.last_section p{
    font-size: 10px;
}
/* footer */
.footer{
    display: flex;
    
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.icons>li>a{
    text-decoration: none;
    color: black;
    opacity: 0.8;
    margin: 0 5%;
}

.icons>li{
    list-style-type: none;
    margin: 0 10px;
}

.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
}
.copyright span{
    text-decoration: underline dotted;
}


/* responsive */